.cache
build
dist
**/node_modules/**
admin/**
tests/*
.eslintrc
Dockerfile
Dockerfile.preview
docker-compose.yaml
*.yaml
extensions/documentation/public/index.html
.env
.env.*
*.mjml
.env.example
plugins/wysiwyg
*.md
.husky/*
.prettierrc
.prettierignore
README.md
package.json
package-lock.json
tsconfig.json
src/data
public
