---
import Layout from '@layouts/Layout.astro';
import Information from '@components/Information.astro';
import Experiences from '@components/Experiences.astro';
import Projects from '@components/Projects.astro';
import Footer from '@components/Footer.astro';
import Wrapper from '@components/Wrapper.astro';


---

<Layout title="Kevin Puscán">
	<main>
		<Information/>
		<Experiences/>	
		<Projects/>
		<Footer/>
	</main>
</Layout>


