---
import Wrapper from '@components/Wrapper.astro';
---

<section class="info">
  <Wrapper>
    <h1>I am <span class="text-gradient">Kevin Puscán</span></h1>
    <p>
      +5 years experience building software. About a year leading teams as Tech Lead. Main focus on the product and
      validation of solutions early. Emphasis on the quality of the code, following good practices, ensuring its quality
      and scalability.
    </p>
  </Wrapper>
</section>
<style>
  .info {
    background: var(--color-bg-invert);
    text-align: center;
    color: var(--color-text-invert);
    padding: 10vh 0;
  }
  h1 {
    margin: 2rem 0;
  }

  p {
    line-height: 1.3rem;
  }
</style>
