---
import Wrapper from '@components/Wrapper.astro';
---

<section class="info">
  <Wrapper>
    <h1>I am <span class="text-gradient">Kevin Puscán</span></h1>
    <p>
      I am a full stack developer living in Perú, I have experience in developing different types of web applications
      mainly using technologies such as strong html, css, scss, styled components, javascript, reactjs, vuejs, nextjs,
      nuxtjs and nodejs I have worked with database such as postgresql, mysql, sqlserver and mongoDB. I have experience
      with docker and kubernetes, as well as cloud technologies, mainly GCP. I like to constantly learn and write
      cleaner code as well as implement the most appropriate solutions to each problem.
    </p>
  </Wrapper>
</section>
<style>
  .info {
    background: var(--color-bg-invert);
    text-align: center;
    color: var(--color-text-invert);
    padding: 10vh 0;
  }
  h1 {
    margin: 2rem 0;
  }

  p {
    line-height: 1.3rem;
  }
</style>
