---
import Wrapper from '@components/Wrapper.astro';
---

<section class="info">
  <Wrapper>
    <h1>I am <span class="text-gradient">Kevin Puscán</span></h1>
    <p>
      My name is Kevin Puscán Ortiz. I am sofware enginner. I have approximately three years of experience in mining
      technology, I am passionate about learning new things constantly.
    </p>
  </Wrapper>
</section>
<style>
  .info {
    background: var(--color-bg-invert);
    text-align: center;
    color: var(--color-text-invert);
    padding: 10vh 0;
  }
  h1 {
    margin: 2rem 0;
  }
</style>
