<div class="social-links">
  <a href="https://github.com/kevinjpuscan" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/kevinpuscan/" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://twitter.com/KevinPuscan" target="_blank">
    <i class="fab fa-twitter-square"></i>
  </a>
</div>
<style>
  .social-links > a {
    color: var(--color-text-invert);
    text-decoration:none;
    font-size: 1.5rem;
    margin:0 0.3rem;
  }
</style>